<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" rel="stylesheet" type="text/css">
    <style>
        h1{
            text-align:center;
            margin-top:3%;
            color:green;
            font-size:200%;
        }
        .box{
            margin-top:2%;
            margin-bottom:2%;
        }
        h2{
            padding:1% 0% 1% 10%;
            font-size:150%;
            float:left;
        }
    </style>
</head>
<body>
    <div class="container-fluid" style="color:white;background-color:green;">
        <h2>Online Student App</h2>
        <div style="padding:1% 0% 1% 0%;margin-left:90%">
            <a class="button" href="{% url 'logout_html' %}">Logout</a>
        </div>
    </div>
    <h1>ENTER STUDENT DETAILS</h1>
    <form method="post">
        {% csrf_token %}
        <div class="container" style="width:25%;margin-top:3%">
            <div class="feild">
                <div class="control">
                    {{student_form.name}}
                </div>
            </div>
            <div class="feild">
                <div class="control">
                    {{student_form.email}}
                </div>
            </div>
            <div class="feild">
                <div class="control">
                    {{marks_form.problem1}}
                </div>
            </div>
           <div class="feild">
                <div class="control">
                    {{marks_form.problem2}}
                </div>
            </div>
            <div class="feild">
                <div class="control">
                    {{marks_form.problem3}}
                </div>
            </div>
            <div class="feild">
                <div class="control">
                    {{marks_form.problem4}}
                </div>
            </div>
            <div class="feild">
                <div class="control">
                    {{marks_form.total}}
                </div>
            </div>
            <div class="feild">
                <div class="control">
                    {{student_form.dropped_out}}
                    dropped out
                </div>
            </div>
            <center><input class="button is-success" type="submit" value="ADD STUDENT" name="submit"></center>
        </div>
    </form>
</body>
</html>